.component2_main_container
{
  /* width: 80%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image_placeholder{
  height: 80px;
  width: 80px;
  background: #000;
}

.title_container
{
  width: 30%;
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.stocks_container{
  display: flex;
  margin: 20px;
  align-items: center;
}
.total_container
{
  display: flex;
  flex-direction: column;
}

.stocks_container > p{
  margin: 10px;
}

.price_container{
  margin: 20px;
}

.order_container{
  display: flex;
  flex-direction: column;
}

.order{
  padding: 10px;
  color: aliceblue;
  background: rgb(107, 3, 3);
  cursor: pointer;
}
