<section class="main-container">
  <div class="left_container">
    <div class="search">
      <input type="text" placeholder="products"/>
      <button>Search</button>
    </div>
    <div class="side_bar">Side bar</div>
  </div>
  <div class="right_container">
    <h1>SHOPPING CART</h1>
    <app-componet1></app-componet1>
    <div class="total_container">
      <app-componet3></app-componet3>
    </div>
    <div class="seperator"></div>
    <div class="buttons">
      <button>Continue shopping</button>
      <button> Go To Checkout</button>
    </div>
  </div>
</section>
