<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Toy 1
      </mat-panel-title>
    </mat-expansion-panel-header>
  <app-componet2 toy_title="Toy 1"></app-componet2>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Toy 2
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-componet2 toy_title="Toy 2"></app-componet2>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Toy 3
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-componet2 toy_title="Toy 3"></app-componet2>
  </mat-expansion-panel>
</mat-accordion>
